<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.7.4/dist/vue.js"></script>
</head>
<body>
    <div id="app">
            <div>
                <label for="">Name: </label>
                <input type="text" placeholder="Enter Name" v-model="name">
                <p>name is {{ name }}</p>
                <br>
                <label for="">Password: </label>
                <input type="password" placeholder="Pssword:" v-model="Password">
                <p>Password is {{ Password }}</p>
                <br>
                <label for="">Email: </label>
                <input type="text" placeholder="Email:" v-model="Email">
                <p>Email is {{ Email }}</p>
                <br>
            </div>
        
        
</body>
</html>
<script src = "week6t1.js"></script>